.atl-gradiant {
    background: rgb(54,31,71);
    background: linear-gradient(34deg, rgba(54,31,71,1) 0%, rgba(95,51,130,1) 50%, rgba(152,61,224,1) 100%);
}
.mc-gradiant {
    background: rgb(147,193,85);
    background: linear-gradient(0deg, rgba(147,193,85,1) 0%, rgba(106,176,147,1) 50%, rgba(128,207,218,1) 100%);
}
.bh-gradiant {
    background: rgb(5,161,174);
    background: linear-gradient(0deg, rgba(5,161,174,1) 0%, rgba(11,144,168,1) 50%, rgba(2,144,184,1) 100%);
}
.fn-gradiant {
    background: rgb(32,49,101);
    background: linear-gradient(180deg, rgba(32,49,101,1) 0%, rgba(87,130,208,1) 50%, rgba(190,47,166,1) 100%);
}
.nether-gradiant {
  background: rgb(221,188,18);
  background: -moz-linear-gradient(0deg, rgba(221,188,18,1) 0%, rgba(198,122,10,1) 50%, rgba(201,32,15,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(221,188,18,1) 0%, rgba(198,122,10,1) 50%, rgba(201,32,15,1) 100%);
  background: linear-gradient(0deg, rgba(221,188,18,1) 0%, rgba(198,122,10,1) 50%, rgba(201,32,15,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ddbc12",endColorstr="#c9200f",GradientType=1);
}

/* Stili per la barra di scorrimento */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(33, 37, 41, 1);
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  /* Stili per il pulsante di salto */
  .scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(33, 37, 41, 1);
    color: #fff;
    font-size: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  .scroll-button:hover {
    background-color: rgb(47, 52, 58);
  }
  
  /* Mostra il pulsante di salto quando si scorre verso il basso */
  body.scrolling-down .scroll-button {
    opacity: 1;
    visibility: visible;
  }
  
#cookie-banner {
    max-width: 400px; /* Personalizza la larghezza massima del banner */
    margin: 20px; /* Personalizza il margine esterno del banner */
    z-index: 9999; /* Imposta un valore di z-index appropriato per garantire che il banner sia sovrapposto ad altri elementi */
  }
  
.easteregg-obb {
    color: rgba(33, 37, 41, 1);
}
.easteregg {
    display: none;
    
}
.atlants-img {
    width: 25%;
}
.cardbtw {
    transition: all 0.2s ease-out;
    border-radius: 25;
}
.cardbtw:hover {
    transform: scale(1.1);
    z-index: 50;
}
.image-indicator {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    
}
.button-container {
    width: 100%;
    text-align: center;
}
  
.centered-button {
    display: block;
    width: 200px; /* Larghezza desiderata */
    margin: auto;
}

.box-card{
  color: #391b4a;
  box-shadow: 0px 0px 50px 25px rgba(0,0,0,0.2);
  border-radius: 3%;
  padding: 5px;
}

@keyframes rotation {
  from {
     transform: rotate(360deg);
  }
  to {
     transform: rotate(0deg);
  }
}

/* Esempio con immagine */
.ruotano-le-palle {
  animation: rotation 1.1s linear infinite;
}

.conto-alla-rovescia{
  display: none;
}

.conto-alla-rovescia-revers{
  display: block;
}

.sidebar {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -300px;
  background-color: #f8f9fa;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  border-radius: 5px;
}

.sidebar.show {
  left: 0;
}

.discord-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.close-sidebar {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 999;
  pointer-events: none;
  transition: background-color 0.3s ease-in-out;
}

.overlay.show {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

.bh-img {
  width: 20%;
}

@media (max-width: 768px) {
    .easteregg  {
        color: rgba(33, 37, 41, 1);
        display: block;
    }
    .atlants-img {
        width: 30%;
    }
    .box-card{
      border-radius: 0%;
      box-shadow: 0px 0px 50px 25px rgba(0,0,0,0);
      padding: 0  px;
    }
    .conto-alla-rovescia{
      display: block;
    }
    .conto-alla-rovescia-revers{
      display: none;
    }
    .bh-img {
      width: 45%;
    }
}