.atl-gradiant {
    background: rgb(54,31,71);
    background: linear-gradient(34deg, rgba(54,31,71,1) 0%, rgba(95,51,130,1) 50%, rgba(152,61,224,1) 100%);
}
.mc-gradiant {
    background: rgb(147,193,85);
    background: linear-gradient(0deg, rgba(147,193,85,1) 0%, rgba(106,176,147,1) 50%, rgba(128,207,218,1) 100%);
}
.bh-gradiant {
    background: rgb(254,192,195);
    background: linear-gradient(180deg, rgba(254,192,195,1) 0%, rgba(254,254,254,1) 50%, rgba(83,85,110,1) 100%);
}
.fn-gradiant {
    background: rgb(32,49,101);
    background: linear-gradient(180deg, rgba(32,49,101,1) 0%, rgba(87,130,208,1) 50%, rgba(190,47,166,1) 100%);
}

#cookie-banner {
    max-width: 400px; /* Personalizza la larghezza massima del banner */
    margin: 20px; /* Personalizza il margine esterno del banner */
    z-index: 9999; /* Imposta un valore di z-index appropriato per garantire che il banner sia sovrapposto ad altri elementi */
  }
  

.easteregg-obb {
    color: rgba(33, 37, 41, 1);
}
.easteregg {
    display: none;
    
}
.atlants-img {
    width: 25%;
}
.cardbtw {
    transition: all 0.2s ease-out;
    border-radius: 25;
}
.cardbtw:hover {
    transform: scale(1.1);
    z-index: 50;
}
.image-indicator {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    
}
.button-container {
    width: 100%;
    text-align: center;
}
  
.centered-button {
    display: block;
    width: 200px; /* Larghezza desiderata */
    margin: auto;
}

@media (max-width: 768px) {
    .easteregg  {
        color: rgba(33, 37, 41, 1);
        display: block;
    }
    .atlants-img {
        width: 30%;
    }
}